<tr id='footer'>
  <td align='center' bgcolor='#e9ecef' style='padding: 24px;'>
    <table border='0' cellpadding='0' cellspacing='0' width='100%' style='max-width: 600px;'>

      <!-- start permission -->
      <tr>
        <td align='center' bgcolor='#e9ecef'
          style="padding: 12px 24px; font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 20px; color: #666;">
          <p style='margin: 0;'>Você recebeu este e-mail porque cadastrou
            seu e-mail no nosso site . Se você não se cadastrou, pode
            excluir este e-mail.</p>
        </td>
      </tr>
      <!-- end permission -->

      <!-- start unsubscribe -->
      <tr>
        <td align='center' bgcolor='#e9ecef'
          style="padding: 12px 24px; font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 20px; color: #666;">
          {{!-- <p style='margin: 0;'>Para parar de receber esses e-mails, você
            pode
            <a href='https://sendgrid.com' target='_blank' rel='noopener noreferrer'>cancelar a inscrição</a>
            a qualquer momento.
          </p> --}}
          <br style='margin: 0;'>&copy; Context, 2023. Todos os direitos reservados.</br>
        </td>
      </tr>
      <!-- end unsubscribe -->

    </table>
  </td>
</tr>